body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.03);
}

.container .submit {
  padding: 0.5rem 2rem;
  background-color: #5fb371;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
  border: none;
}

.container .submit:hover {
  background-color: #80cd91;
}

.container h3,
.container p {
  color: #5fb371;
  text-align: center;
}

.container .variants {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .variants span {
  padding: 1rem;
  width: 100%;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #5fb371;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 0.25rem;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.container .variants .correct {
  background-color: rgba(95, 179, 113, 0.1);
  border: 1px solid rgba(95, 179, 113, 0.4);
}

.container .variants .correct:hover {
  background-color: rgba(95, 179, 113, 0.1);
}

.container .variants .false {
  background-color: rgba(220, 53, 69, 0.1);
  color: #dc3545;
  border: 1px solid rgba(220, 53, 69, 0.4);
}

.container .variants .false:hover {
  background-color: rgba(220, 53, 69, 0.1);
}

.container .variants .eventNone {
  pointer-events: none;
}

.container .navigate {
  color: #5fb371;
  margin-top: 3rem;
}

.result {
  display: none;
}

.result i {
  color: #5fb371;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.result .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result .buttons a {
  padding: 0.25rem 1rem;
  margin: 0 0.5rem;
  background-color: #5fb371;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}

.result .buttons a:hover {
  background-color: #80cd91;
}

.result-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quiz-none {
  display: none;
}
/*# sourceMappingURL=quiz.css.map */